
<h2>Template: Switches</h2>
<hr>

<form autocomplete="off" (ngSubmit)="guardar()" [formGroup]="miForm">

    <div class="row mb-3">
        <label class="col-sm-4 col-md-3 col-form-label">Género</label>
        <div class="col-sm-8 col-md-9">
            <div class="form-check">
                <input class="form-check-input" 
                        type="radio" 
                        formControlName="genero"
                        id="radioMas"
                        value="M"
                        required>
                <label class="form-check-label" for="radioMas">
                  Masculino
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" 
                        type="radio" 
                        formControlName="genero"     
                        id="radioFe"
                        value="F"
                        required>
                <label class="form-check-label" for="radioFe">
                    Feminino
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" 
                        type="radio" 
                        formControlName="genero"
                        id="radioNoBi"
                        value="NB"
                        required>
                <label class="form-check-label" for="radioNoBi">
                    No-binario
                </label>
            </div>
        </div>
    </div>
    <!-- Switches -->
    <div class="row mb-3">
        <label class="col-sm-4 col-md-3 col-form-label ">Notificaciones</label>
        <div class="col-sm-8 col-md-9">
            <div class="form-check form-switch mt-2">
                <input class="form-check-input" 
                        type="checkbox" 
                        formControlName="notificaciones"
                        id="flexSwitchCheckChecked"
                        name="notificaciones"
                       >
                <label class="form-check-label" for="flexSwitchCheckChecked">Quiero receber notificaciones</label>
            </div>
        </div>
    </div>
    <!-- Check -->
    <div class="row mb-3">
        <label class="col-sm-4 col-md-3 col-form-label"></label>
        <div class="col-sm-8 col-md-9">
            <div class="form-check">
                <input class="form-check-input" 
                        type="checkbox" 
                        id="defaultCheck1"
                        formControlName="condiciones"
                        required>
                <label class="form-check-label" for="defaultCheck1">
                   Acepto los términos y condiciones de uso
                </label>
            </div>
        </div>
    </div>
    <!-- Submit -->
    <div class="row">
        <div class="col">
            <button type="submit"
                [disabled]="miForm.invalid"
                class="btn btn-primary float-end"
                >
                Guardar
            </button>
        </div>
    </div>
</form>

<h5>
    valor de formulario
</h5>

<pre>{{miForm.value | json}} </pre>
<br>
<pre>{{persona | json}} </pre>
<br>
<h5>Valid</h5>
<pre>{{miForm.valid | json}} </pre>
<br>
<pre>{{miForm.controls?.terminosYcondiciones?.errors | json}} </pre>
<br>
<pre>Condiciones: </pre>